@import 'tailwindcss';

@theme {
	--breakpoint-4xl: 1920px;
	/* --breakpoint-4xl: 2560px; */
	--font-poppins: var(--font-poppins);
	--font-nunito: var(--font-nunito);
}

:root {
	--font-sans: var(--font-poppins);
}

html {
	scrollbar-gutter: stable;
}

body {
	background: #fff;
	color: #000;
	font-family: var(--font-poppins), ui-sans-serif, system-ui;
}
